name: CD
on:
  push:
    tags:
      - '**'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    env:
      WASI_SDK_PATH: /opt/wasi-sdk/
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Enable corepack
        run: corepack enable
      - name: Set up rust-toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip1
      - name: Set up WASI SDK
        uses: ./.github/actions/set-up-wasi-sdk
        with:
          path: ${{ env.WASI_SDK_PATH }}
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build:wasm:release
      - name: Deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: yarn deploy:api
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: target/wasm32-wasip1/release/kanatrans-wasm.wasm
